@import "~styles/abstracts/_breakpoints.scss";
@import "~styles/abstracts/_variables.scss";

.popupBox {
  composes: popupBox from "../SignUp/index.module.scss";
}

.popupContent {
  composes: popupContent from "../SignUp/index.module.scss";
}

.popupLogin {
  composes: popupLogin from "../SignUp/index.module.scss";
}
