@import "~styles/abstracts/_breakpoints.scss";
@import "~styles/abstracts/_variables.scss";

.preview {
  display: block;
  margin: auto;
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.popup.popup.popup {
  width: 450px;
}

.editPopupBox.editPopupBox {
  width: 650px;
  padding: 24px;
}

.editTitle {
  text-align: center;
  font-weight: 700;
}

.editForm {
  margin-top: 24px;
}

.editActions {
  $local-gutter: 8px;
  margin: (0 - $local-gutter);
  margin-top: (24px - $local-gutter);
  display: flex;
  align-items: center;

  & > * {
    width: 50%;
    padding: $local-gutter;
  }
}

.editActionsBtn.editActionsBtn {
  width: 100%;
  height: 56px;
}
