@import "~styles/abstracts/_breakpoints.scss";
@import "~styles/abstracts/_variables.scss";

.amendContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.amendBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: $color-light;
  padding: 8px;
  border-radius: 4px;
}

.amendTitle {

}

.amendText {
  font-weight: 500;
}

.amendDate {
  font-size: 12px;
  color: $color-blue-light
}