@import "~styles/abstracts/_breakpoints.scss";
@import "~styles/abstracts/_variables.scss";

.filesWrapper {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filesItem {
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
  background-color: lighten($color-primary, 6);
  cursor: pointer;
  color: #fff;

  &:hover {
    background-color: lighten($color-primary, 10);
  }
}