@import "~styles/abstracts/_breakpoints.scss";
@import "~styles/abstracts/_variables.scss";

.container {
  border-top: 1px solid rgba(57, 76, 74, 0.13);
  margin-top: 32px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  & thead {
  }

  & tr {
    color: $color-logo-gray;
  }

  & th {
    font-size: 14px;
    font-weight: 400;
    padding: 4px;
    border-top: 1px solid rgba(57, 76, 74, 0.17);
    border-bottom: 1px solid rgba(57, 76, 74, 0.17);
  }

  & td {
    font-size: 14px;
    font-weight: 400;
    padding: 4px
  }
}

.tbody {
  & tr:not(:last-child) {
    border-bottom: 1px solid rgba(57, 76, 74, 0.17);
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  height: 14px;
  display: block;
}

.iconContainer {
  padding: 4px;
  border-radius: 4px;
  background-color: $color-primary;
  cursor: pointer;
  &:hover {
    background-color: lighten($color-primary, 10);
  }
}

.popUpContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}