@import "~styles/abstracts/_breakpoints.scss";
@import "~styles/abstracts/_variables.scss";

.popupBox {
    width: 450px;
    padding: 48px 24px;
}

.title {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: lighten($color-text-dark, 10);
}

.stars {
    $local-gutter: 8px;
    display: flex;
    justify-content: center;
    margin: 0 (0 - $local-gutter);
    margin-top: (32px - $local-gutter);

    & > * {
        padding: $local-gutter;
    }
}

.starsErr {
    text-align: center;
}

.btn {
    display: block;
    color: $color-bg-FilterCloseButton;
}

.btnStar {
    height: 48px;
    display: block;
}

.stars:hover .btn:not(.isActive) {
    color: mix($color-bg-FilterCloseButton, $color-primary, 80);
}

.btn:hover ~ .btn:not(.isActive) {
    color: $color-bg-FilterCloseButton;
}

.btn.isActive {
    color: $color-primary;
}

.review {
    margin-top: 24px;
}

.root .textFieldTextarea.textFieldTextarea {
    height: 80px;
    min-height: 0;
    resize: none;
}

.actions {
    $local-gutter: 4px;
    display: flex;
    margin: (0 - $local-gutter);
    margin-top: (16px - $local-gutter);

    & > * {
        padding: $local-gutter;
        flex-basis: 50%;
    }
}

.actionsBtn {
    width: 100%;
    height: 56px;
}
